.search {
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: 0;
}

.search-input::-webkit-input-placeholder {
    color: #fff;
}

.search-input::-moz-placeholder {
    color: #fff;
}

.card {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 200px;
    margin-bottom: 40px;
    border-radius: 10px;
    background: rgba(58, 36, 9, 0.8);
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #000 center / cover;
}

.card-content {
    margin-left: 200px;
    padding: 20px 40px;
    font-size: 16px;
}

.card-title {
    margin: 0 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
